/* Global */
.compact:where(input:not([type=checkbox], [type=radio], [type=range]), select, textarea, button, [role=button]) {
  padding: calc(0.75 * var(--form-element-spacing-vertical)) calc(0.75 * var(--form-element-spacing-horizontal)) !important;
  height: calc(0.5rem * var(--line-height) + var(--form-element-spacing-vertical) * 1.75 + var(--border-width) * 1.75) !important;
}

.success {
  background: #65ab68 !important;
}

.info {
  background: #24c5c5 !important;
}

.warning {
  background: #ffeb59 !important;
  color: rgba(0, 0, 0, .75) !important;
}

.error {
  background: #d73737 !important;
}

/* Smart Table */
table thead .column {
  display: flex;
  align-items: center;
}

table thead .column-label {
  flex-grow: 1;
}

table thead .column-label.active {
  font-weight: bold;
}

table thead .column-filter {
  flex-shrink: 1;
  margin-bottom: 0;
  margin-right: .5rem;
  border-width: 1px !important;
}

table thead .sorter {
  display: inline-block;
  text-align: center;
}

table thead .sort:before {
  cursor: pointer;
  display: block;
  content: var(--icon-chevron);
  margin: 0;
}

table thead .sort.desc:before {
  margin-top: -8px;
}

table thead .sort.asc:before {
  transform: rotate(180deg);
  margin-bottom: -8px;
}

table thead .sort:hover:before,
table thead .sort.active:before {
  content: var(--icon-chevron);
}

figure:has(table).bordered {
  border: 1px solid var(--table-border-color);
  border-radius: var(--border-radius);
}

figure.bordered table {
  margin-bottom: 0;
}

/* Modal (Dialog) */
dialog.wide article {
  width: 100%;
}

dialog article header .close {
  cursor: pointer;
}

dialog article {
  padding-bottom: 1rem;
}

dialog article header {
  margin-bottom: 1rem;
}

dialog article form {
  margin-bottom: 0;
}

/* Flex Row */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: .75rem;
}

.row>* {
  width: auto;
  flex: 1;
}

/* Alert */
[role=alert]:empty {
  display: none;
}

[role=alert]:not(:empty) {
  display: block;
  padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
  border-radius: var(--border-radius);
  border: 1px solid rgba(0, 0, 0, .15);
  margin-bottom: var(--spacing);
  background: var(--secondary);
  font-weight: 400;
  color: rgba(255, 255, 255, .9);
}

/* Theme Switch */
.theme-switch-wrap {
  display: inline-block;
  border-bottom: none !important;
  cursor: pointer;
  color: inherit;
}

.theme-switch-icon {
  color: inherit;
  display: inline-block;
}

.theme-switch-icon:after {
  color: inherit;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.1rem;
  border: 0.15rem solid currentColor;
  border-radius: 50%;
  background: linear-gradient(to right, currentColor 0, currentColor 50%, transparent 50%);
  content: '';
  transition: transform var(--transition);
}

.theme-switch-wrap:hover .theme-switch-icon::after {
  transform: rotate(180deg);
}

/* Tabs */
.tabs header {
  padding-bottom: 0;
  border-bottom: 1px solid var(--muted-border-color);
}

.tabs header ul {
  display: flex;
  justify-content: flex-start;
  gap: .5em;
  margin-bottom: 0;
  padding: 0;
  margin-bottom: calc(var(--font-size) - 1.07em);
  overflow: auto hidden;
}

.tabs.stretch header ul .tab-btn {
  flex: 1;
  text-align: center;
}

.tabs header ul .tab-btn {
  display: inline-block;
  list-style-type: none;
  cursor: pointer;
  padding: 1em;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: var(--secondary-focus);
  color: var(--contrast);
  border: 1px solid var(--muted-border-color);
  margin-bottom: 0;
}

.tabs header .tab-btn.active {
  background: var(--card-background-color);
  border-bottom-color: var(--card-background-color);
}

.tabs .tab-content {
  overflow: auto;
}

.nav-bar .menu-btn {
  align-items: center;
  padding: .65rem;
}

.nav-bar .menu-btn:after {
  display: none;
}

/* Toaster */
.toaster {
  position: fixed;
  max-width: 350px;
  width: 100%;
  max-height: 50dvh;
  overflow: auto;
}

.toaster:not(:empty) {
  padding: 1rem;
}

.toaster.bottom-right {
  bottom: 0;
  right: 0;
}

.toaster.bottom-center {
  bottom: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.toaster.bottom-left {
  bottom: 0;
  left: 0;
}

.toaster.top-right {
  top: 0;
  right: 0;
}

.toaster.top-center {
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.toaster.top-left {
  top: 0;
  left: 0;
}

.toast {
  display: flex;
  position: relative;
  opacity: 0;
  transition: .2s;
  padding: 10px;
  border-radius: var(--border-radius);
  background: var(--secondary);
  color: var(--secondary-inverse);
  margin: .25em;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--card-box-shadow);
}

.toast .close {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: var(--icon-close);
  background-position: center center;
  background-size: auto 1rem;
  background-repeat: no-repeat;
  transition: opacity var(--transition);
  filter: brightness(0);
  opacity: .35;
  cursor: pointer;
}

.toast .close:hover {
  opacity: .65;
}

.toast.show {
  opacity: 1;
}

.toaster.bottom-center .toast {
  top: 1rem;
}

.toaster.bottom-center .toast.show {
  top: 0;
}

.toaster:where(.bottom-right, .top-right) .toast {
  right: -1rem;
}

.toaster:where(.bottom-right, .top-right) .toast.show {
  right: 0;
}

.toaster:where(.bottom-left, .top-left) .toast {
  left: -1rem;
}

.toaster:where(.bottom-left, .top-left) .toast.show {
  left: 0;
}

.toaster.top-center .toast {
  top: -1rem;
}

.toaster.top-center .toast.show {
  top: 0;
}

/* Small */
@media(max-width:575px) {
  .nav-bar.sm .desktop-menu {
    display: none;
  }

  .nav-bar.sm .mobile-menu {
    display: inherit;
  }
}

@media(min-width:576px) {
  .nav-bar.sm .desktop-menu {
    display: inherit;
  }

  .nav-bar.sm .mobile-menu {
    display: none;
  }
}

/* Medium */
@media(max-width:767px) {
  .nav-bar.md .desktop-menu {
    display: none;
  }

  .nav-bar.md .mobile-menu {
    display: inherit;
  }
}

@media(min-width:768px) {
  .nav-bar.md .desktop-menu {
    display: inherit;
  }

  .nav-bar.md .mobile-menu {
    display: none;
  }
}

/* Large */
@media(max-width:991px) {
  .nav-bar.lg .desktop-menu {
    display: none;
  }

  .nav-bar.lg .mobile-menu {
    display: inherit;
  }
}

@media(min-width:992px) {
  .nav-bar.lg .desktop-menu {
    display: inherit;
  }

  .nav-bar.lg .mobile-menu {
    display: none;
  }
}

/* Extra Large */
@media(max-width:1199px) {
  .nav-bar.xl .desktop-menu {
    display: none;
  }

  .nav-bar.xl .mobile-menu {
    display: inherit;
  }
}

@media(min-width:1200px) {
  .nav-bar.xl .desktop-menu {
    display: inherit;
  }

  .nav-bar.xl .mobile-menu {
    display: none;
  }
}
